<template class="form-group col-xs-12 ${isMandatory ? 'is-mandatory' : ''}">
    
    <require from="aurelia-mask/masked-input"></require>
    <require from="../../../resources/format/format-date"></require>

    <label class="col-xs-6" for.bind="name" title.bind="inpLabel">
        <!--<i if.bind="isReadonly" class="fa fa-eye text-after" title="Read Only"></i>
        <i if.bind="isMemberOnly" class="fa fa-exclamation-triangle text-after" title="Members Only"></i>-->
        ${inpLabel}
    </label>
    <div class="col-xs-6">
        <input if.bind="maskPattern=='telephone'" type="inpType" masked="value.bind: model; mask.bind: maskPatternTelephone" class="form-control" id.one-way="name" placeholder.bind="inpPlaceholder"/>
        <input if.bind="maskPattern=='telephone-cc'" type="inpType" masked="value.bind: model; mask.bind: maskPatternTelephoneCc" class="form-control" id.one-way="name" placeholder.bind="inpPlaceholder"/>
        <input if.bind="inpType=='date'" type="inpType" value.bind="model | formatDate" class="form-control" id.one-way="name" placeholder.bind="inpPlaceholder">
        <input if.bind="!maskPattern && inpType=='text'" type="inpType" value.bind="model" class="form-control" id.one-way="name" placeholder.bind="inpPlaceholder" readonly.bind="isReadonly">
    </div>

</template>