<template class="${!inputOnly ? 'form-group form-cust-wrap' : ''} ${custMandatory && !custReadonly ? 'cust-mandatory' : ''}">

    <require from="../filter"></require>
    <require from="../../../resources/select2"></require>
    <require from="select2/css/select2.min.css"></require>

    <label if.bind="!inputOnly" class="form-cust-label" for.bind="name" title.bind="custLabel">
        ${custLabel}
         <!--| ${model}-->
        <!--${optionFilter ? ' > [' + optionFilter + ']' : ''}-->
    </label>
    <!--<span>
        ? ${custName}
    </span>-->
    <div class="${!inputOnly ? 'form-cust-input' : ''}">
        <!--/ ${changed} / ${initSelected} / ${selected}-->
        <!--selected.two-way="selected" -->
        <!--| ${model} | ${selected} | ${changed} | ${initSelected}-->
        <!--propArr: ${propArr[0]} | ${propArr[1]}-->

        <!--<input if.bind="custReadonly" type="text" value.bind="model" class="form-control" placeholder.bind="custPlaceholder" readonly>-->
<!--if.bind="!custReadonly"-->

        <input if.bind="custReadonly && !initSelected" type="text" class="form-control" value="---" readonly>

        <select if.bind="!custReadonly || (custReadonly && initSelected)"
            reaonly.bind="custReadonly"
            class="form-control"
            value.bind="initSelected"
            disabled.bind="!isEnabled || custReadonly"
            selected.two-way="selected"
            change.delegate="changeCallback($event)"
            >

            <option model.bind="null">${custPlaceholder}</option>
            <!--<option repeat.for="option of options | filter:'parentValue':optionFilter" model.bind="option[propArr[0]]">-->
            <option repeat.for="option of options | filter:optionFilter[0]:optionFilter[1]"
                model.bind="option[propArr[0]]"
                css="background-color:red"
                >
                ${option[propArr[1]]}
            </option>
        </select>

        <!--<select if.bind="autocomplete" class="form-control"
            id.bind="name"
            select2.bind="selectOptions"
            value.bind="initSelected"
            disabled.bind="!isEnabled"
            change.delegate="changeCallback($event)">

            <option value="">${custPlaceholder}</option>
            <option repeat.for="option of options | filter:optionFilter[0]:optionFilter[1]" model.bind="option[propArr[0]]">
                ${option[propArr[1]]}
            </option>
        </select>-->

    </div>
</template>