<template class="form-group col-xs-12 ${isMandatory ? 'is-mandatory' : ''}">

    <require from="../filter"></require>
    <require from="../../../resources/select2"></require>
    <require from="select2/css/select2.min.css"></require>

    <label class="col-xs-6" for.bind="name" title.bind="inpLabel">
        ${inpLabel}
        <!--${optionFilter ? ' > [' + optionFilter + ']' : ''}-->
    </label>
    <div class="col-xs-6">
        <!--/ ${changed} / ${initSelected} / ${selected}-->
        <!--selected.two-way="selected" -->
        <!--| ${model} | ${selected} | ${changed} | ${initSelected}-->
        <!--propArr: ${propArr[0]} | ${propArr[1]}-->
        <select class="form-control"
            value.bind="initSelected"
            disabled.bind="!isEnabled"
            selected.two-way="selected"
            change.delegate="changeCallback($event)">

            <option value="">${inpPlaceholder}</option>
            <!--<option repeat.for="option of options | filter:'parentValue':optionFilter" model.bind="option[propArr[0]]">-->
            <option repeat.for="option of options | filter:optionFilter[0]:optionFilter[1]"
                model.bind="option[propArr[0]]"
                css="background-color:red"
                >
                ${option[propArr[1]]}
            </option>
        </select>

        <!--<select if.bind="autocomplete" class="form-control"
            id.bind="name"
            select2.bind="selectOptions"
            value.bind="initSelected"
            disabled.bind="!isEnabled"
            change.delegate="changeCallback($event)">

            <option value="">${inpPlaceholder}</option>
            <option repeat.for="option of options | filter:optionFilter[0]:optionFilter[1]" model.bind="option[propArr[0]]">
                ${option[propArr[1]]}
            </option>
        </select>-->

    </div>
</template>