<template class="${!inputOnly ? 'form-group form-cust-wrap' : ''} ${custMandatory && !custReadonly ? 'cust-mandatory' : ''}">

    <!--<require from="../../../resources/format/format-date"></require>-->
    <require from="./form-input"></require>

    <label if.bind="!inputOnly" class="col-xs-8 col-debug" for.bind="custName" title.bind="custLabel">
            ${custLabel}
    </label>
    <span class="${!inputOnly ? 'col-xs-2' : 'col-xs-6'} col-debug">
        <input type="radio" name.bind="custName" model.bind="1" checked.bind="model"> Yes
    </span>
    <span class="${!inputOnly ? 'col-xs-2' : 'col-xs-6'} col-debug">
        <input type="radio" name.bind="custName" model.bind="0" checked.bind="model"> No
    </span>

</template>