<template class="${inputOnly ? '' : 'row'}">
    <span if.bind="!inputOnly" class="col-xs-8 col-debug">
        <label for.bind="inpName" title.bind="inpLabel">
            ${inpLabel} / ${model}
        </label>
    </span>
    <span class="${inputOnly ? '' : 'col-xs-4'} col-debug">
        <label if.bind="inputOnly" class="label-with-checkbox ${inpPlacement ? 'checkbox-' + inpPlacement : ''}">
            <input type="checkbox" name.bind="inpName" model.bind="true" checked.bind="model">${inpLabel}
        </label>
        <input if.bind="!inputOnly" type="checkbox" name.bind="inpName" model.bind="true" checked.bind="model">
    </span>
</template>