<template class="form-group col-xs-12 ${inpClass} ${isMandatory ? 'is-mandatory' : ''}">
    <require from="aurelia-mask/masked-input"></require>

    <div class="row-fluid">
        <label class="col-sm-6" for.bind="name" title.bind="inpLabel">
            ${inpLabel}
        </label>
        <div class="col-sm-6">
            <input if.bind="maskPattern=='telephone'" masked="value.bind: model; mask.bind: maskPatternTelephone" class="form-control"/>
            <input if.bind="!maskPattern" type="text" value.bind="model" class="form-control" id.one-way="name" placeholder.bind="inpPlaceholder">
        </div>
    </div>
</template>