<template class="${!inputOnly ? 'form-group form-cust-wrap' : ''} ${custMandatory && !custReadonly ? 'cust-mandatory' : ''}">
    
    <require from="aurelia-mask/masked-input"></require>
    <require from="../../../resources/format/format-date"></require>
    <require from="aurelia-kendoui-bridge/datepicker/datepicker"></require>

    <label if.bind="!inputOnly" class="form-cust-label" for.bind="custName" title.bind="custLabel">
        ${custLabel}
    </label>
    <!--<span>
        ? ${custName}
    </span>-->
    <!--<div if.bind="model==null" class="${!inputOnly ? 'form-cust-input' : ''}">
        <input type="text" value="---" class="form-control" name.one-way="custName" placeholder.bind="custPlaceholder" readonly.bind="custReadonly || isReadOnly">
    </div>-->

<!--if.bind="model!=null"-->
    <div class="${!inputOnly ? 'form-cust-input' : ''}">
        <input if.bind="maskPattern=='telephone'" type="custType" masked="value.bind: model; mask.bind: maskPatternTelephone" class="form-control" name.one-way="custName" placeholder.bind="custPlaceholder" readonly.bind="custReadonly || isReadOnly">
        <input if.bind="maskPattern=='telephone-cc'" type="custType" masked="value.bind: model; mask.bind: maskPatternTelephoneCc" class="form-control" name.one-way="custName" placeholder.bind="custPlaceholder" readonly.bind="custReadonly || isReadOnly">
        <input if.bind="custType=='date'" type="custType" value.bind="model | formatDate" class="k_datepicker" name.one-way="custName" placeholder.bind="custPlaceholder" readonly.bind="custReadonly || isReadOnly" ak-datepicker k-on-ready.delegate="onReady($event.detail)">
        <input if.bind="!maskPattern && custType=='text'" type="custType" value.bind="model" class="form-control" name.one-way="custName" placeholder.bind="custPlaceholder" readonly.bind="custReadonly || isReadOnly">
    </div>

</template>