node_modules
.idea
.DS_STORE
bootstrap-config/excess-dev
bootstrap-config/bootstrap/css
bootstrap-config/bootstrap/js
_excess
fonts
src/css/tagline.gif
src/css/bp-responsive.svg
src/css/bp-responsive.svg