/* _buttons.scss */

.wrap_xc_btns_all {
    display:inline-block;
    a {
        margin:0 $offset-1;
    }
    .divider {
        display:inline-block;
        width:1px;
        height:10px;
        border-right:2px solid $border-color;
    }
}


.panel-heading {
    .btn.btn-xc_chevron {
        float:right;
        background:transparent;

        &:before {
            color:$hyperlink-color;
            font-size:14px;
            line-height:14px;
            @extend .fa-dummy;
            content: "\f077";            
        }
    }

    &.collapsed {
        .btn.btn-xc_chevron:before {
            content: "\f078"; 
        }
    }
}

.btn-group.btn-edit-avatar {
    > .btn-group {
        button.btn {
            line-height:50px;
            padding:0 $offset-1;
        }
    }

    a.btn.avatar {
        padding:0;
        border:1px solid #f1f1f1;

        img {
            width:auto;
            max-height:50px;
        }
    }
}  

.btn.btn-debrief {
    display: block;
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 0 $offset-1;
    @include border-radius(0px);

    &.cross {
        color: $color-lost;

        &.selected {
            border-color: $border-color-realised-false;
            background: $border-color-realised-false;
            color: white;
        }
    }

    &.tick {
        color: $color-realised;

        &.selected {
            border-color: $border-color-realised-true;
            background: $border-color-realised-true;
            color: white;
        }
    }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    color: $disabled-color;
}

.btn-gradient {
    background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
}

.btn-gradient-hover {
    background: #e0e0e0 !important;
}

.btn {
    text-align: left;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    padding: $offset-0-5 $offset-1;
}

.str-inline-with-btns {
    @extend .btn;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.btn.btn-lg {
    font-size: $btn-font-size-lg;
    line-height: $btn-line-height-lg;
    padding: $offset-1 $offset-1-5;
    height: $btn-height;
    @include border-radius($btn-border-radius-lg);
    height: auto;
}

label.label-with-radio,
label.label-with-checkbox {
    cursor: pointer;
    color: $hyperlink-color;
    font-weight: normal;

    &.strong {
        font-weight: bold;
    }

    input[type="radio"],
    input[type="checkbox"] {
        width: $offset-1-5;
        height: $offset-1-5;
        margin-right: $offset-0-5;
        margin-top: 0px;
        float: left;
    }

    &.checkbox-right {
        input[type="radio"],
        input[type="checkbox"] {
            margin-right: 0;
            margin-left: $offset-0-5;
            float: right;
        }        
    }

    input[type="radio"]:checked.ng-dirty ~ * {
        font-weight: bold;
        color: $color-good !important;
    }

    input[type="radio"]:checked.ng-untouched ~ * {
        font-weight: bold;
        color: black;
    }
}

.md-icon-button {
    background: transparent;
    color: white !important;

    &:hover {
        background: $bp_color-hover-tint;
    }
}

.split-with-search-btn {
    display: inline-block;
    width: auto;
    width: calc(100% - 60px);
}

.form-control-fill {
    > .multi-select-filter > .btn {
        width: 100%;
    }
}

.btn-a {
    box-shadow: none !important;
    padding-left: 0;
    padding-right: 0;
}

.btn-add {
    background: white;
}

.btn.btn-i {
    .fa {
        margin-right: $offset-0-5;
        width: 1.28571429em;
        text-align: center;
    }

    &.btn-a .fa {
        margin-right: 3px;
    }
}

.btn-disc-i {
    @include border-radius(100%);
    width: auto;
    position: relative;
    overflow: hidden;
    padding: 0;
    font-size: 14px;
    width: $btn-disc-diameter;
    height: $btn-disc-diameter;

    &.lg {
        width: $btn-disc-diameter-lg;
        height: $btn-disc-diameter-lg;
    }


    &:before {
        display: block;
        padding-top: 100%;
        content: '';
    }

    i.fa {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -7px 0 0 -7px; //(width:14px, height:14px)
        &.fa-user {
            margin-left: -5px; //(width:10 / 11px)
        }

        &.fa-download,
        &.fa-pencil,
        &.fa-search,
        &.fa-cog {
            margin-left: -6px; //(width:12px)
        }

        &.fa-chevron-left,
        &.fa-chevron-right {
            margin-left: -5px; //(width:10px)
        }
    }
}

.nav-tabs {
    border-bottom: none;

    > li {
        margin-bottom: 0;
        /*margin-bottom:-1;*/
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
            color: $bp_color-white;
            font-weight: bold;
            border: none;
            cursor: default;
            text-decoration: none;
        }

        > a {
            color: $hyperlink-color;
            background: transparent !important;
            margin-right: 0;
            border: none;
            padding: $offset-1 $offset-1-5;
            @include border-radius(0px);

            &:hover {
                text-decoration: underline;
                border: none;
            }

            > i {
                margin-left: $offset-1;
                position: absolute;
                top: 12px;
                right: 12px;
            }
        }
    }
}

.tab-content {
    @extend .padding-y-1-5;
}

/*.nav-tabs.arrow > li.active > a:after {
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -4px;
    display: block;
    content: "";
    @include triangle(10px,top,$bp_color-white);
}*/

.btn-add {
    border-color: #a6cf41;
    background: white;
    box-shadow: none;

    &:hover, &:focus {
        background: $color-good-bg;
    }

    &:hover {
    }
}

.btn-priority {
    background-image: -webkit-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
    background-image: -o-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0ad4e), to(#eb9316));
    background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #e38d13;
    color: #fff;
    text-shadow: none;
    background-color: #f0ad4e;
    border-color: #eea236;

    &:hover, &:focus {
        background-color: #eb9316;
        background-position: 0 -15px;
        color: #fff;
    }

    &:hover {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
    }
}

.pagination-status {
    font-weight: bold;
    color: $bp_color-red;
}

.pagination-controls {
    width: 110px;

    .page-number {
        @extend .btn;
        text-align: center !important;
        box-shadow: none;
    }

    > a {
        cursor: pointer;
    }
}

.btn-group {
    ul.dropdown-menu {
        z-index: 49; /* because md-dialog starts at 50 dropdown-toggle */
        padding: 0px;

        li {
            a,
            button {
                padding: $offset-1;
                background: transparent;
                border: none;
                outline: none;
                display: block;
                width: 100%;
                text-align: left;
                font-size: $base-font-size;
                line-height: $btn-line-height;

                &:hover {
                    background: $hyperlink-color-hover-bg;
                }

                i.fa {
                    margin-right: $offset-0-5;
                }
            }
        }
    }
}

/* fa */
.fa {
    &.fa-ban,
    &.fa-user-times {
        color: $color-danger;
    }
}

/* overrule bootstrap btn active styles */
btn.active, .btn:active {
    background-image: none;
    outline: 0;
    @include box-shadow(false);
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: white;
    background-color: $bp_color-green-1;
    border-color: $bp_color-green-1;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-image: none;
}
/* (END) overrule bootstrap btn active styles */