/* _tables.scss */

.table > tbody + tbody {
    border-top: 1px solid $border-color;
}

.table.border-none > tr,
.table.border-none > * > tr {
    th, td {border:0px !important;}
}

.table tr,
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {

    th {
        font-weight:bold;
    }

    th, td {
        
        padding: $offset-0-5;
        vertical-align: middle;

        > label {
            margin-bottom: 0px;
        }
    }

    &:last-child th {
        border-bottom: 1px solid $border-color;
    }

    &:last-child td {
        border-bottom: none;
    }
}

table.half-n-half {
    tr > th,
    tr > td {
        width: 50%;
    }
}

.wrap-longtext {
    white-space: pre;
}

.aut-sort:before{
    font-family: FontAwesome;
    padding-right: 0.5em;
    width: 1.28571429em;
    display: inline-block;
    text-align: center;
}

// .aut-sortable:before{
//     content: "\f0dc";
// }

.aut-asc:before{
    content: "\f160";
}

.aut-desc:before{
    content: "\f161";
}

table.table.user-panel-table {
    margin:0 0 $offset-g1 0;
    border:1px solid $border-color;

    tr {

        th {
            padding:$offset-1 $offset-g1;
            background:$bp_color-green-faint;
            border:0px;
            border-bottom:1px solid $border-color;
        }

        td {
            height: 50px;//need this to avoid jumping when checkbox triggers text input to appear (height of input + padding-y = 50)
            background:#f1f1f1;
            border-bottom:1px dotted $border-color;
            padding:0px;
            padding-top:$offset-g1;

            &.padded-cell {
                padding:$offset-g1;
                //padding-bottom:0px;
            }
        }

        &:last-child td {
            padding-bottom:$offset-g1;
            border-bottom:0px;
        }
    }

    &.cols-2 {
        tr {
            td {
                width:50%;
            }
        }
    }

    &.cols-3 {
        tr {
            td {
                width:33.333333%;
            }
        }
    }

    &.cols-4 {
        tr {
            td {
                width:25%;
            }
        }
    }

    &.padded-cells {
        tr {
            td {
                padding:$offset-1 $offset-g1;
            }
        }
    }
}