<template>
    <require from="./ui-header"></require>

    <ui-header current-user.bind="currentUser"></ui-header>
    <pre if.bind="CV.debugShowCurrentUser">? nav-bar.html | isMember: ${currentUser.isMember} | isEditor: ${currentUser.isEditor} !</pre>

    <nav id="header" class="navbar navbar-default ${routeName=='welcome' ? 'margin-bottom-0' : ''}" role="navigation">

        <div class="container padding-x-0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="/#/">
                    <i class="fa fa-home"></i>
                    <span>${router.title}</span>
                </a>-->
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                        <a if.bind="hasAccess(currentUser, row)" href.bind="row.href">
                            ${row.title}
                            <span if.bind="CV.debugShowCurrentUser">? [${currentUser.isMember}, ${row.settings.isMemberOnly}] | [${currentUser.isEditor}, ${row.settings.isEditorOnly}]</span>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right margin-right-1">
                    <li class="loader" if.bind="router.isNavigating">
                        <i class="fa fa-spinner fa-spin fa-2x color-green-dark"></i>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</template>