<template>

    <header class="container">
        <div class="row">
            <div class="col-xs-8 logo-wrap">
                <a class="logo" href="#" title="${CV.SITE_NAME}">
                    <img src="/src/css/bp-responsive.svg" alt="${CV.SITE_NAME_ABBR}">
                    
                    <!--<h3>${CV.SITE_NAME}</h3>-->
                </a>
                <img class="strapline" src="/src/img/MRT_Identifier_V1b.png">
            </div>
            <div class="col-xs-4 user">
                <div class="btn-group btn-edit-avatar" role="group" aria-label="user options">

                    <div class="btn-group" role="group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                            Alex Mack
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#"><i class="fa fa-fw fa-cog"></i> Profile Settings</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-bell"></i> Notifications</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-fw fa-sign-out"></i> Log out</a></li>
                        </ul>
                    </div>

                    <a class="btn btn-default avatar">
                        <img src="/src/img/tmp-avatar-me.jpg" alt="tmp me">
                    </a>

                </div>
            </div>
        </div>
    </header>

</template>