<template>

    <header class="container">
        <pre if.bind="CV.debugShowCurrentUser">? ui-header.html | myGlobals.currentUser.isMember: ${myGlobals.currentUser.isMember} | myGlobals.currentUser.isEditor: ${myGlobals.currentUser.isEditor} !</pre>
        <div class="row">
            <div class="col-xs-8 logo-wrap">
                <a class="logo" click.delegate="myNav.navigateTo('welcome')" title="${CV.SITE_NAME}">
                    <img src="${imgSrc_logo}" alt="${CV.SITE_NAME_ABBR}">
                    
                    <!--<h3>${CV.SITE_NAME}</h3>-->
                </a>
                <img class="strapline" src="${imgSrc_strapline}">
            </div>
            <div class="col-xs-4 user">
                <div class="btn-group btn-edit-avatar" role="group" aria-label="user options">

                    <div class="btn-group" role="group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                            ${myGlobals.currentUser.displayName}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a click.delegate="myNav.navigateToUserPage('read',myGlobals.currentUser.id)"><i class="fa fa-fw fa-search"></i>View Profile</a></li>
                            <li><a click.delegate="myNav.navigateToUserPage('edit',myGlobals.currentUser.id)"><i class="fa fa-fw fa-pencil"></i>Edit Profile</a></li>
                            <!--<li if.bind="myGlobals.currentUser.isEditor"><a href="#"><i class="fa fa-fw fa-bell"></i>Notifications</a></li>
                            <li if.bind="myGlobals.currentUser.isEditor"><a href="#"><i class="fa fa-fw fa-check-square-o"></i>Validate</a></li>
                            <li if.bind="myGlobals.currentUser.isEditor"><a href="#"><i class="fa fa-fw fa-archive"></i>Toolbox</a></li>-->
                            <li if.bind="myGlobals.currentUser.isEditor" class="divider"></li>
                            <li if.bind="myGlobals.currentUser.isEditor"><a click.delegate="myNav.navigateTo('users')"><i class="fa fa-fw fa-users"></i>Team</a></li>
                        </ul>
                    </div>

                    <a class="btn btn-default avatar">
                        <img src="src/img/tmp-avatar-me.jpg" alt="tmp me">
                    </a>

                </div>
            </div>
        </div>
    </header>

</template>