<template>

    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-select"></require>
    <require from="../inputs/form-checkbox"></require>
    <require from="aurelia-kendoui-bridge/datepicker/datepicker"></require>

    <div class="col-xs-12">
        <table class="table user-panel-table padded-cells cols-4">
            <thead>
                <tr>
                    <th>${CV.myLabels.visaCountry}</th>
                    <th>${CV.myLabels.visaType}</th>
                    <th>${CV.myLabels.expiryDate}</th>
                    <th>${CV.myLabels.visaMultiple}</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="row of profile.visas">
                    <td>
                        <form-select cust-name.bind="['visaCountry_' + $index]"
                            cust-label="Visa Country"                            
                            model.two-way="profile.visas[$index].countryId"
                            options.bind="myLookups.countries"                            
                            autocomplete.bind="true"
                            init-selected.two-way="profile.visas[$index].countryId"
                            cust-mandatory.bind="true"
                            input-only="true"
                            cust-readonly.bind="isReadOnly"></form-select>
                    </td>
                    <td>
                        <form-select cust-name.bind="['visaType_' + $index]"
                            cust-label="Visa Type"                                                    
                            model.two-way="profile.visas[$index].typeValue"
                            options.bind="myLookups.visaTypes"  
                            prop-arr.bind="['value','name']"                          
                            autocomplete.bind="true"
                            init-selected.two-way="profile.visas[$index].typeValue"
                            cust-mandatory.bind="true"
                            input-only="true"
                            cust-readonly.bind="isReadOnly"></form-select>
                    </td>
                    <td>
                        <!--<form-input cust-name.bind="['visaExpiryDate_' + $index]"
                            cust-label="Expiry Date"
                            cust-type="date"
                            model.two-way="profile.visas[$index].expiresOn"
                            cust-mandatory.bind="true"
                            input-only="true"
                            cust-readonly.bind="isReadOnly"></form-input>-->

                        <input if.bind="isReadOnly" type="text" value.bind="profile.visas[$index].expiresOn ? profile.visas[$index].expiresOn : '---'" readonly>
                        <input if.bind="!isReadOnly" class="k_datepicker" id.bind="['visaExpiryDate_' + $index]"  name.one-way="['visaExpiryDate_' + $index]"
            ak-datepicker="k-value.two-way: profile.visas[$index].expiresOn;k-format:{0:dd/MM/yyyy}"
            k-on-ready.delegate="onReady($event.detail,profile.visas[$index].expiresOn)"
            k-on-change.delegate="onChange($event.detail,profile.visas[$index].expiresOn)">
                    </td>
                    <td>
                        <form-checkbox cust-name.bind="['visaMultiple_' + $index]"
                            cust-label="Multiple Visas"
                            model.two-way="profile.visas[$index].multipleEntry"
                            init-selected.two-way="profile.visas[$index].multipleEntry"
                            cust-readonly.bind="isReadOnly"></form-checkbox>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div if.bind="!isReadOnly" class="col-xs-12 margin-bottom-g1">
        <button class="btn btn-default btn-sm btn-i">
            <i class="fa fa-plus"></i>
            Add Visa
        </button>
    </div>


</template>