<template>
    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-select"></require>
    <require from="../filter"></require>
    <require from="../../../resources/constants"></require>
    <require from="../../../resources/select2"></require>

    <form-input name="firstName" model.two-way="user.user.firstName" inp-label="First Name" is-readonly.bind="true"></form-input>
    <form-input name="lastName" model.two-way="user.user.lastName" inp-label="Last Name" is-readonly.bind="true"></form-input>
    <form-input name="loginName" model.two-way="user.user.loginName" inp-label="Username/NTID" is-readonly.bind="true"></form-input>
    <form-input name="emailAddress" model.two-way="user.user.emailAddress" inp-label="Email Address" is-readonly.bind="true"></form-input>

    <div class="divider"></div>
    <div class="col-xs-12" if.bind="CV.debugShowOutput">? DEV NOTE: SELECT [1,3,8,9] ... SELECTED: ${user.firstName}: ${user.lkp_regions_selected} > ${user.lkp_hub_selected} > ${user.lkp_segment_selected} > ${user.lkp_entity_selected} ?</div>
    
     <!--<div class="divider"></div>
    ? ${user.profile.region.id} > ${user.profile.hub.id} !
     <div class="divider"></div>-->

    <form-select name="region"
        model.two-way="user.regionId"
        options.bind="lkp_regions"
        changed.two-way="user.regionId"
        autocomplete.bind="true"
        init-selected.two-way="user.profile.region.id"
        is-mandatory.bind="true"></form-select>

    <form-select inp-label="hub"
        model.two-way="user.profile.hub.id"
        options.bind="lkp_hub"
        changed.two-way="user.profile.hub.id"        
        init-selected.two-way="user.profile.hub.id"
        option-filter.bind="['regionId',user.profile.region.id]"
        is-enabled.bind="user.profile.region.id"
        is-mandatory.bind="true"></form-select>

    <!--<div class="form-group col-xs-12">
        <label class="col-sm-6" for.bind="name" title.bind="inpLabel">
            Hub
        </label>
        <div class="col-sm-6">
            <select class="form-control"
                model.bind="user.profile.hub.id"
                disabled.bind="!user.profile.region.id"        
                >        
                <option value="">Select...</option>
                <option repeat.for="option of lkp_hub | filter:'regionId':user.profile.region.id" value="option.id" selected.bind="option.id==user.profile.hub.id">
                    ${option.name}
                </option>
            </select>
        </div>
    </div>-->
  
     <div class="divider"></div>
     
    <form-select name="segment"
        model.two-way="user.profile.segment.id"
        options.bind="lkp_segment"
        changed.two-way="user.profile.segment.id"        
        init-selected.two-way="user.profile.segment.id"
        autocomplete.bind="true"
        is-mandatory.bind="true"></form-select>

    <form-select inp-label="Entity"
        model.two-way="user.profile.entity.id"
        options.bind="lkp_entity"
        changed.two-way="user.profile.entity.id"        
        init-selected.two-way="user.profile.entity.id"
        option-filter.bind="['segmentId',user.profile.segment.id]"
        is-enabled.bind="user.profile.segment.id"
        is-mandatory.bind="true"></form-select>
    <!--<div class="form-group col-xs-12">
        <label class="col-sm-6" for.bind="name" title.bind="inpLabel">
            Entity
        </label>
        <div class="col-sm-6">
            <select class="form-control"
                model.bind="user.profile.entity.id"
                disabled.bind="!user.profile.segment.id"        
                >        
                <option value="">Select...</option>
                <option repeat.for="option of lkp_entity | filter:'segmentId':user.profile.segment.id" value="option.id" selected.bind="option.id==user.profile.entity.id">
                    ${option.name}
                </option>
            </select>
        </div>
    </div>-->

    <!--<form-select name="lkp_entity"
        model.two-way="user.lkp_entity_selected"
        options.bind="lkp_entity"
        changed.two-way="user.lkp_entity_selected"        
        init-selected.two-way="user.lkp_entity_selected"
        option-filter.bind="user.lkp_segment_selected"
        autocomplete.bind="true"
        is-enabled.bind="user.lkp_regions_selected && user.lkp_hub_selected && user.lkp_segment_selected"></form-select>-->

    
    <div class="divider"></div>

    <form-input inp-label="Function" model.two-way="user.profile.function" is-mandatory.bind="true"></form-input>
    <form-input inp-label="Location" model.two-way="user.profile.location" is-mandatory.bind="true"></form-input>

    <div class="divider"></div>

    <form-select name="Primary ICS"
        model.two-way="user.profile.primaryPosition.id"
        options.bind="lkp_primaryPositions"
        changed.two-way="user.profile.primaryPosition.id"
        autocomplete.bind="true"
        init-selected.two-way="user.profile.primaryPosition.id"
        is-mandatory.bind="true"></form-select>

    <form-select inp-label="Secondary ICS"
        model.two-way="user.profile.secondaryPosition.id"
        options.bind="lkp_secondaryPositions"
        changed.two-way="user.profile.secondaryPosition.id"        
        init-selected.two-way="user.profile.secondaryPosition.id"
        option-filter.bind="['primaryPositionId',user.profile.primaryPosition.id]"
        is-enabled.bind="user.profile.primaryPosition.id"
        is-mandatory.bind="true"></form-select>

    <div class="divider"></div>
    
    <form-select inp-label="BP Office"
        model.two-way="user.profile.office.id"
        options.bind="lkp_bp_office_address"
        changed.two-way="user.profile.office.id"
        autocomplete.bind="true"
        init-selected.two-way="user.profile.office.id"
        is-mandatory.bind="true"></form-select>

    <div class="divider"></div>

    <form-select name="lkp_member_status" inp-label="Coat Size"
        model.two-way="user.profile.coatSize.id"
        options.bind="lkp_coatSizes"
        changed.two-way="user.profile.coatSize.id"
        init-selected.two-way="user.profile.coatSize.id"
        is-mandatory.bind="true"></form-select>

    <div class="divider"></div>
    
    <div class="col-xs-12">
        <table class="table cols-2 user-panel-table">
            <thead>
                <tr>
                    <th>Contact</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="padding-bottom-0">
                        <form-input name="businessNumber" model.two-way="user.profile.businessNumber" mask-pattern="telephone" inp-label="Business Cell No." is-mandatory.bind="true"></form-input>
                        <form-input name="personalNumber" model.two-way="user.profile.personalNumber" mask-pattern="telephone" inp-label="Personal Cell No."></form-input>
                        <form-input name="officeNumber" model.two-way="user.profile.officeNumber" mask-pattern="telephone" inp-label="Office Number"></form-input>
                        <form-input name="lyncNumber" model.two-way="user.profile.lyncNumber" mask-pattern="telephone" inp-label="Lync Number"></form-input>
                        <form-input name="homeNumber" model.two-way="user.profile.homeNumber" mask-pattern="telephone" inp-label="Home Number"></form-input>
                    </td>
                    <td class="padding-bottom-0">
                        <form-input name="lineManager" model.two-way="user.user.lineManager.displayName" inp-label="Line Manager" is-readonly.bind="true"></form-input>
                        <form-input name="lineManager_emailAddress" model.two-way="user.user.lineManager.emailAddress" inp-label="Line Manager Email" is-readonly.bind="true"></form-input>
                        <form-input name="loginName" model.two-way="user.user.lineManager.loginName" inp-label="Line Manager NTID" is-readonly.bind="true"></form-input>
                        <form-input name="emergencyContactName" model.two-way="user.profile.emergencyContactName" inp-label="Emergency Contact Name" is-mandatory.bind="true"></form-input>
                        <form-input name="emergencyContactNumber" model.two-way="user.profile.emergencyContactNumber" mask-pattern="telephone" inp-label="Emergency Contact No." is-mandatory.bind="true"></form-input>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    

</template>