<template>

    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-radio"></require>
    <require from="../../../resources/format/json"></require>

    <div class="row-fluid">
        <div class="col-xs-12" innerhtml.bind="message"></div>
    </div>

    <pre if.bind="CV.debugShowCodeOutput">${myLookups.trainings & json}</pre>
    <pre if.bind="CV.debugShowCodeOutput">${myTrainingArr & json}</pre>
    <pre if.bind="CV.debugShowCodeOutput">${myTrainingArrDynamic & json}</pre>
    <pre if.bind="CV.debugShowCodeOutput">
        <ul>
            <li repeat.for="row of myLookups.trainings">
                ${row & json}
            </li>
        </ul>
    </pre>

    <div class="col-xs-12">
        <table class="table cols-3 user-panel-table padded-cells" if.bind="myTrainingArr && myLookups.trainings">
            <thead>
                <tr>
                    <th>${CV.myLabels.training}</th>
                    <th>${CV.myLabels.attended}</th>
                    <th>${CV.myLabels.expiryDate}</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="row of myLookups.trainings" if.bind="!isReadOnly || isReadOnly && returnTrainingData(row.id,'trainingId')">
                    <td>
                        <label>${row.name}</label>
                    </td>
                    <td>
                        <span if.bind="returnTrainingData(row.id,'trainingId')">
                            <i class="fa fa-check text-after color-good"></i>
                            ${ returnTrainingData(row.id,'trainingId') }                            
                        </span>
                    </td>
                    <td>
                        <!--<span>${ profile.trainings[$index] & json }</span>-->
                        <!--${row.id}-->
                        <form-input if.bind="returnTrainingData(row.id,'expiresOn')"
                            cust-name.bind="['trainingExpiryDate_' + $index]"
                            cust-type="date" 
                            cust-label="Expiry Date"
                            model.two-way="profile.trainings[$index].expiresOn"
                            is-mandatory.bind="true"
                            input-only="true"
                            cust-readonly.bind="user.trainings[$index].attended || isReadOnly"></form-input>
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>

</template>