<template>

    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-select"></require>
    <require from="../inputs/form-checkbox"></require>

    <div class="col-xs-12">
        <table class="table user-panel-table cols-4 padded-cells">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Passport Nationality</th>
                    <th>Expiry Date</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="row of profile.passports">
                    <td>
                        <form-select inp-label="Passport Type"
                            prop-arr.bind="['value','name']"
                            model.two-way="profile.passports[$index].typeValue"
                            options.bind="myLookups.passportTypes"
                            autocomplete.bind="true"
                            init-selected.two-way="profile.passports[$index].typeValue"
                            is-mandatory.bind="true"
                            input-only="true"
                            is-readonly.bind="isReadOnly"></form-select>
                            <!--changed.two-way="user.profile.passports[$index].type.value"-->
                    </td>
                    <td>
                        <form-input model.two-way="profile.passports[$index].number" inp-label="Passport Number" is-mandatory.bind="true" input-only="true"
                            is-readonly.bind="isReadOnly"></form-input>
                    </td>
                    <td>
                        <form-select inp-label="Passport Nationality"
                            model.two-way="profile.passports[$index].countryId"
                            options.bind="myLookups.countries"                            
                            autocomplete.bind="true"
                            init-selected.two-way="profile.passports[$index].countryId"
                            is-mandatory.bind="true"
                            input-only="true"
                            is-readonly.bind="isReadOnly"></form-select>
                            <!--changed.two-way="user.profile.passports[$index].country.id"-->
                    </td>
                    <td>
                        <form-input inp-label="Passport Expiry Date"
                            inp-type="date"
                            model.two-way="profile.passports[$index].expiresOn"
                            is-mandatory.bind="true"
                            input-only="true"
                            is-readonly.bind="isReadOnly"></form-input>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div if.bind="!isReadOnly" class="col-xs-12 margin-bottom-g1">
        <button class="btn btn-default btn-sm btn-i">
            <i class="fa fa-plus"></i>
            Add Passport
        </button>
    </div>

</template>