<template>

    <require from="../form-input"></require>
    
    <form-input name="passport-type" value.two-way="user.passport-type"></form-input>
    <form-input name="passport-number" value.two-way="user.passport-number"></form-input>
    <form-input name="passport-nationality" value.two-way="user.passport-nationality"></form-input>
    <form-input name="passport-expiry-date" value.two-way="user.passport-expiry-date"></form-input>

    <div class="divider"></div>

    <form-input name="visa-country" value.two-way="user.visa-country"></form-input>
    <form-input name="visa-expiry-date" value.two-way="user.visa-expiry-date"></form-input>
    <form-input name="visa-type" value.two-way="user.visa-type"></form-input>
    <form-input name="multiple-visas" value.two-way="user.multiple-visas"></form-input>

</template>