<template>

    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-radio"></require>
    <require from="../../../resources/format/json"></require>

    <div class="row-fluid">
        <div class="col-xs-12" innerhtml.bind="message"></div>
    </div>

    <pre if.bind="CV.debugShowCodeOutput">${lkp_trainings & json}</pre>
    <pre if.bind="CV.debugShowCodeOutput">${myTrainingArr & json}</pre>
    <pre if.bind="CV.debugShowCodeOutput">${myTrainingArrDynamic & json}</pre>
    <pre if.bind="CV.debugShowCodeOutput">
        <ul>
            <li repeat.for="row of lkp_trainings">
                ${row & json}
            </li>
        </ul>
    </pre>

    <div class="col-xs-12">
        <table class="table cols-3 user-panel-table padded-cells" if.bind="myTrainingArr && lkp_trainings">
            <thead>
                <tr>
                    <th>Training</th>
                    <th>Attended</th>
                    <th>Expiry Date</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="row of lkp_trainings">
                    <td>
                        <label>${row.name}</label>
                    </td>
                    <td>
                        <span if.bind="returnTrainingData(row.id,'trainingId')">
                            <i class="fa fa-check text-after color-good"></i>
                            ${ returnTrainingData(row.id,'trainingId') }                            
                        </span>
                        <!--<form-radio inp-name.bind="['training_' + $index]"
                            model.two-way="user.trainings[$index].attended"                            
                            init-selected.two-way="user.trainings[$index].expiresOn ? true : false"
                            input-only="true"></form-radio>-->
                        
                        <!--<form-checkbox inp-name.bind="['multipleEntry_' + $index]"
                            inp-label="Multiple Visas"
                            model.two-way="profile.visas[$index].multipleEntry"
                            init-selected.two-way="profile.visas[$index].multipleEntry"
                            input-only="true"
                            is-mandatory.bind="true"></form-checkbox>-->

                        <!--<span if.bind="user.profile.trainings[$index].expiresOn!=null">Attended</span>                        -->
                    </td>
                    <td>
                        <!--<span>${ returnTrainingData(row.id,'expiresOn') }</span>-->
                        <form-input inp-type="date" if.bind="returnTrainingData(row.id,'expiresOn')"
                            inp-label="user.profile.trainings[$index].training.name"
                            model.two-way="profile.trainings[$index].expiresOn"
                            is-mandatory.bind="true"
                            input-only="true"
                            is-readonly.bind="user.trainings[$index].attended || isReadOnly"></form-input>
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>

</template>