<template>

    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-select"></require>
    <require from="../inputs/form-checkbox"></require>

    <div class="repeaters row-fluid" repeat.for="row of user.profile.visas">

        <div if.bind="$index>0" class="divider dotted"></div>

        <form-select inp-label="Visa Country" model.two-way="user.profile.visas[$index].country.id" options.bind="lkp_passportNationality"
            changed.two-way="user.profile.visas[$index].country.id" autocomplete.bind="true" init-selected.two-way="user.profile.visas[$index].country.id"
            is-mandatory.bind="true"></form-select>

        <form-input inp-type="date" model.two-way="user.profile.visas[$index].expiresOn" inp-label="Visa Expiry Date" is-mandatory.bind="true"></form-input>

        <form-select inp-label="Visa Type" prop-arr.bind="['value','name']" model.two-way="user.profile.visas[$index].type.value"
            options.bind="lkp_visaTypes" changed.two-way="user.profile.visas[$index].type.value" autocomplete.bind="true" init-selected.two-way="user.profile.visas[$index].type.value"
            is-mandatory.bind="true"></form-select>

        <!--<form-checkbox
            class="margin-x-g1"
            inp-label="Multiple Visas"                            
            model.two-way="user.profile.visas[$index].multipleEntry"
            init-selected.two-way="user.profile.visas[$index].multipleEntry"
            input-only="true"
            is-mandatory.bind="true"></form-checkbox>-->

        <div class="col-xs-6">
            <form-checkbox inp-name.bind="['multipleEntry_' + $index]"
                inp-label="Multiple Visas"                            
                model.two-way="user.profile.visas[$index].multipleEntry"
                init-selected.two-way="user.profile.visas[$index].multipleEntry"
                input-only="true"
                is-mandatory.bind="true"></form-checkbox>
            <!--<span class="form-group col-xs-6 col-debug is-mandatory">            
            <label class="label-with-checkbox">
                <input type="checkbox" name.bind="inpName" model.bind="true" checked.bind="model">
                Multiple Visas
            </label>        -->
        </span>
        </div>
        

        <div class="btn-row text-align-left" if.bind="$index+1 == user.profile.visas.length">
            <button class="btn btn-default btn-sm btn-i">
                <i class="fa fa-plus"></i>
                Add Visa
            </button>
        </div>

    </div>


</template>