<template>

    <require from="../inputs/form-input"></require>
    
    <form-input name="member-status" value.two-way="user.member-status"></form-input>
    <form-input name="date-joined" value.two-way="user.date-joined"></form-input>
    <form-input name="vest-colour" value.two-way="user.vest-colour"></form-input>
    <form-input name="coast-size" value.two-way="user.coast-size"></form-input>
    <form-input name="language" value.two-way="user.language"></form-input>
    <form-input name="language-level" value.two-way="user.language-level"></form-input>

</template>