<template>
    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-select"></require>
    <require from="../../../resources/format/format-date"></require>

    <div class="repeaters row-fluid" repeat.for="row of user.profile.languages">
        
        <div if.bind="$index>0" class="divider dotted"></div>

        <form-select name="lkp_language[$index]" inp-label="Language"
            model.two-way="user.profile.languages[$index].language.id"
            options.bind="lkp_languages"
            changed.two-way="user.profile.languages[$index].language.id"
            autocomplete.bind="true"
            init-selected.two-way="user.profile.languages[$index].language.id"></form-select>

        <form-select name="lkp_languageLevel[$index]" inp-label="Language Level"
            prop-arr.bind="['value','name']"
            model.two-way="user.profile.languages[$index].proficiency.value"
            options.bind="lkp_languageLevel"
            changed.two-way="user.profile.languages[$index].proficiency.value"
            init-selected.two-way="user.profile.languages[$index].proficiency.value"
            is-enabled.bind="user.profile.languages[$index].language.id"></form-select>

        <div class="col-xs-12 margin-bottom-g1">
            <button class="btn btn-default btn-sm" if.bind="$index+1 == user.profile.languages.length && $index+1<lkp_languages_limitTo">
                <i class="fa fa-plus"></i>
                Add Language
            </button>
        </div>

    </div>

</template>