<template>

    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-radio"></require>

    <div class="row-fluid">
        <div class="col-xs-12" innerhtml.bind="message">

        </div>
    </div>

    <div class="divider"></div>

    <div class="repeaters row-fluid margin-bottom-g1" repeat.for="row of user.profile.trainings">

        <div if.bind="$index>0" class="divider dotted"></div>

        <div class="col-xs-12">
            <form-radio inp-name.bind="['training_' + $index]"
                inp-label.bind="user.profile.trainings[$index].training.name"
                model.two-way="user.profile.trainings[$index].training.id"
                expiry-date.two-way="user.profile.trainings[$index].expiresOn ? user.profile.trainings[$index].expiresOn : '--'"
                init-selected.two-way="user.profile.trainings[$index].training.id"></form-radio>
        </div>

    </div>

        <!--<div class="col-xs-12">
            <form-radio inp-name.bind.bind="'training_ics" inp-label.bind="user.profile.trainings[0].training.name" model.two-way="user.profile.trainings[0].training.id"
                expiry-date.two-way="user.profile.trainings[0].expiresOn ? user.profile.trainings[0].expiresOn : '--'"
                init-selected.two-way="user.profile.trainings[0].training.id"></form-radio>
        </div>

        <div class="divider dotted"></div>

        <div class="col-xs-12">
            <form-radio inp-name.bind="'training_haz'" inp-label.bind="user.profile.trainings[1].training.name" model.two-way="user.profile.trainings[1].training.id"
                expiry-date.two-way="user.profile.trainings[1].expiresOn ? user.profile.trainings[1].expiresOn : '--'"
                init-selected.two-way="user.profile.trainings[1].training.id"></form-radio>
        </div>

        <div class="divider dotted"></div>

        <div class="col-xs-12 margin-bottom-2">
            <form-radio inp-name.bind="'training_offs'" inp-label.bind="user.profile.trainings[2].training.name" model.two-way="user.profile.trainings[2].training.id"
                expiry-date.two-way="user.profile.trainings[2].expiresOn ? user.profile.trainings[2].expiresOn : '--'"
                init-selected.two-way="user.profile.trainings[2].training.id"></form-radio>
        </div>-->

    <!--</div>-->

</template>