<template>

    <require from="../inputs/form-input"></require>
    <require from="../inputs/form-select"></require>
    <require from="../filter"></require>
    <require from="../../../resources/constants"></require>
    <require from="../../../resources/select2"></require>

    <form-select inp-label="Member Status"
        model.two-way="tmpMemberStatus"
        options.bind="lkp_memberStatus"
        changed.two-way="tmpMemberStatus"
        autocomplete.bind="true"
        init-selected.two-way="tmpMemberStatus"
        is-mandatory.bind="true"></form-select>

    <form-input inp-type="date" model.two-way="user.profile.entityStatus.createdOn" inp-label="Date Joined" is-mandatory.bind="true"></form-input>

    <div class="divider dotted"></div>

    <!--<form-select inp-label="Username/NTID"
        prop-arr.bind="['value','loginName']"
        model.two-way="user.user.id"
        options.bind="lkp_userProfiles"
        changed.two-way="user.user.id"
        autocomplete.bind="true"
        init-selected.two-way="user.user.id"
        is-mandatory.bind="true"></form-select>-->

    <form-select inp-label="Credentials Level"
        prop-arr.bind="['value','name']"
        model.two-way="user.user.systemRoles.value"
        options.bind="lkp_credentialLevels"
        changed.two-way="user.user.systemRoles.value"
        autocomplete.bind="true"
        init-selected.two-way="user.user.systemRoles.value"
        is-mandatory.bind="true"></form-select>

        <div class="divider dotted"></div>

    <form-input model.two-way="tmpField2" inp-label="Confidential Field 2"></form-input>
     <form-input model.two-way="tmpField3" inp-label="Confidential Field 3"></form-input>

    <div class="divider dotted"></div>

</template>