/* _nav-bar.scss */

nav {
    

    &.navbar.navbar-default {
        background:#fff;
        border-width:0 0 1px 0;
        border-color:#ccc;
        margin-bottom:45px;
    }

     .navbar-collapse {
        
    }

    ul.nav.navbar-nav {
        li {

            &.active {
                a {
                    background:white !important;
                    color:#067d00;
                }                
            }

            a {
                color:#067d00;

                &:hover {
                    background:$bp_color-lightgray-2 !important;
                }
            }
        }
    }
}

.navbar-inverse {
  border-bottom: 1px solid #ccc;
}

.navbar-nav li.active:after, .navbar-nav li.active:before {
	bottom: 0%;
    margin-bottom: -1px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.navbar-nav li.active:after {
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: -6px;
    z-index: 1;
}
.navbar-nav li.active:before {
	border-bottom-color: #ccc;
	border-width: 8px;
	margin-left: -8px;
    z-index: 1;
}