/* _panels.scss */

.panel {
    @include box-shadow(false);

    &.panel-bp {
        background: $bp_color-lightgray-2;
        border:0px;
        border-bottom:3px solid $bp_color-green-1;
    }
}

.panel-body {

}

.panel-heading {
    
}