<template>
  <require from="../widgets/user-list"></require>
  <require from="../widgets/user-edit"></require>
  <require from="./user-add"></require>
  <require from="../../resources/format/json"></require>
  <require from="../widgets/panel-denied-access"></require>

  <!--<div class="col-md-12">
    <h1>${title}<span class="html-file-name">(user-selected.html)</span></h1>
    <hr>
  </div>-->
  <!--<pre>? user-selected.html | myGlobals.isEditor: ${myGlobals.isEditor} | myGlobals.currentUser.id: ${myGlobals.currentUser.id}</pre>-->
  <div if.bind="CV.debugShowCurrentUser">
    <p><span class="debug_filename">user-selected.html (user.id: ${user.id})</span></p>
    <pre class="col-xs-6">myGlobals.currentUser: ${myGlobals.currentUser & json}</pre>
    <pre class="col-xs-6">myGlobals.currentUser.isMember: ${myGlobals.currentUser.isMember} !</pre>
  </div>

  <pre if.bind="CV.debugShowCodeOutput">profile:<br>${profile & json}</pre>
  <!--<pre>${CV.myLabels & json}</pre>-->

  <panel-denied-access if.bind="accessDenied"></panel-denied-access>

  <div if.bind="user && !accessDenied" class="col-xs-12">
    <!--<div>
      <p><span class="debug_filename">user-selected.html (user.id: ${user.user.id})</span></p>
      <pre class="col-xs-6">myGlobals.userSelected: ${myGlobals.userSelected & json}</pre>
      <pre class="col-xs-6">myGlobals.profileSelected: ${myGlobals.profileSelected & json}</pre>
    </div>-->
    <user-add is-read-only.bind="isReadOnly" if.bind="myGlobals.userSelected"></user-add>
  </div>

  <pre if.bind="debugShowCodeOutput">${user & json}</pre>

</template>