<template>
  <require from="../widgets/inputs/form-input"></require>
  <require from="../widgets/inputs/form-select"></require>
  <require from="../widgets/inputs/form-radio"></require>
  <require from="../widgets/inputs/form-checkbox"></require>
  <require from="../widgets/form-user-full-body"></require>
  <require from="../widgets/btn-xc-all"></require>
  <require from="aurelia-kendoui-bridge/datepicker/datepicker"></require>

  <pre if.bind="CV.debugShowCurrentUser">? user-add.html | myGlobals.isMember: ${myGlobals.currentUser.isMember} | myGlobals.currentUser.isReader: ${myGlobals.currentUser.isReader} !</pre>

  <div class="main-title-bar row">

    <div class="col-xs-8">
      <h1 if.bind="!isReadOnly" class="display-inline-block">${title}</h1>
      <h1 if.bind="isReadOnly" class="display-inline-block">${title_isReadOnly}</h1>
        <btn-xc-all wrapper-id="user-panels"></btn-xc-all>
    </div>

    <div class="col-xs-4 text-align-right">

      <div class="btn-group profile-avater" role="group">
        <button if.bind="!isReadOnly" class="btn btn-default btn-i"><i class="fa fa-pencil"></i>Change Avatar</button>

        <!--? user-add.html | isReadOnly: ${isReadOnly} | ${currentUser.id} | ${myGlobals.userSelected.id} !-->
      <button if.bind="isReadOnly && (currentUser.id == myGlobals.userSelected.id)" click.delegate="api.navigateToUserPage('edit',currentUser.id)"
        class="margin-x-1 btn btn-default btn-i">
        <i class="fa fa-pencil"></i> Edit this profile
        </button>

        <span class="input-group-addon">
          <img src="src/img/low.jpg" alt="tmp me">
        </span>
      </div>

    </div>
  </div>


  <form role="form" class="form-horizontal" id="user-panels" if.bind="myGlobals.profileSelected">
    <!--cust-xc-expanded="true"-->

    <form-user-full-body profile.bind="profile" is-read-only.bind="isReadOnly" cust-title="User"
      cust-body="user-details" cust-xc="true" cust-xc-id="xc_user" cust-xc-expanded="true"></form-user-full-body>

      <form-user-full-body profile.bind="profile" is-read-only.bind="isReadOnly" cust-title="Languages"
        cust-body="user-languages" cust-xc="true" cust-xc-id="xc_languages"></form-user-full-body>

        <form-user-full-body profile.bind="profile" is-read-only.bind="isReadOnly" cust-title="Passport Information"
          cust-body="user-passport" cust-xc="true" cust-xc-id="xc_passport"></form-user-full-body>

          <form-user-full-body profile.bind="profile" is-read-only.bind="isReadOnly" cust-title="Visa Information"
            cust-body="user-visa" cust-xc="true" cust-xc-id="xc_visa"></form-user-full-body>

            <form-user-full-body profile.bind="profile" is-read-only.bind="isReadOnly" cust-title="Training"
              cust-body="user-training" cust-xc="true" cust-xc-id="xc_training"></form-user-full-body>

              <form-user-full-body if.bind="profile.confidentialData!=null" cust-icon="fa-exclamation-triangle" profile.bind="profile"
                is-read-only.bind="isReadOnly" cust-title="Confidential Information" cust-body="user-confidential"
                cust-xc="true" cust-xc-id="xc_confidential"></form-user-full-body>

  </form>

  <div if.bind="!isReadOnly" class="button-bar col-md-12 padding-x-0 text-align-right">
    <!--?? hubId: ${user.profile.hub.id} > ${profile.hubId} !-->
    <button class="btn btn-default" click.delegate="save()" disabled.bind="!canSave">Save</button>
  </div>

</template>