<template>
  <require from="../widgets/user-list"></require>
  <require from="../widgets/user-edit"></require>
  <require from="./user-add"></require>
  <require from="../../resources/format/json"></require>
  <require from="../../my-globals"></require>

  <!--<div class="col-md-12">
    <h1>${title}<span class="html-file-name">(user-selected.html)</span></h1>
    <hr>
  </div>-->

  <pre if.bind="CV.debugShowCurrentUser">? user-selected.html | myGlobals.isMember: ${myGlobals.currentUser.isMember} !</pre>
  <pre if.bind="CV.debugShowCodeOutput">JSON.stringify(profile)</pre>
  <pre if.bind="CV.debugShowCodeOutput">${profile & json}</pre>
  <!--<pre>${CV.myLabels & json}</pre>-->

  <div if.bind="!pageType">
    <user-list class="col-xs-12 col-md-8"></user-list>

    <div class="col-xs-12 col-md-4">
      <user-edit user.bind="user"></user-edit>
    </div>
  </div>

  <div if.bind="user" class="col-xs-12">
    <!--? user-selected.html | isReadOnly: ${isReadOnly} | ${currentUser.id} ! -->
    ? user-selected.html | myLookups: ${myGlobals.myLookups} | profileSelected: ${myGlobals.profileSelected} !
    <user-add profile.bind="profile" is-read-only.bind="isReadOnly" if.bind="myGlobals.profileSelected"></user-add>
  </div>

  <pre if.bind="debugShowCodeOutput">${user & json}</pre>

</template>