<template>
    <require from="../widgets/list-activity"></require>
    <require from="../widgets/user-list"></require>
    <require from="../widgets/profile-brief"></require>

    <div if.bind="pageData" class="row margin-bottom-g1">
        <pre if.bind="CV.debugShowCurrentUser">? welcome.html | isMember: ${currentUser.isMember} !</pre>
        <div class="col-md-12">
            <img src="src/img/MRT_Letterhead.png" class="fit-col">
        </div>
    </div>

    <div if.bind="currentUser.isMember" class="row-fluid">
        <div class="col-md-6">
            <!--<img src="src/img/MRT_Letterhead.png" class="fit-col">-->
            <div class="margin-bottom-2">
                <h1 class="margin-top-0">${title_isMember}</h1>
                <p innerhtml.bind="message_isMember"></p>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <a href="#"><img src="src/img/MRT_Org.png" class="fit-col"></a>
                </div>
                <div class="col-md-2">
                    <a href="#"><img src="src/img/MRT_Admin.png" class="fit-col"></a>
                </div>
                <div class="col-md-2">
                    <a href="#"><img src="src/img/MRT_Ident.png" class="fit-col"></a>
                </div>
                <div class="col-md-2">
                    <a href="#"> <img src="src/img/MRT_Valid.png" class="fit-col"></a>
                </div>
                <div class="col-md-2">
                    <a href="#"><img src="src/img/MRT_Toolbox.png" class="fit-col"></a>
                </div>
            </div>
        </div>

        <div class="col-md-6" if.bind="pageData">
            <!--<user-list cust-title="Users-lite" cust-disable-cells="['firstName','personalNumber','systemRoles']" cust-table-pagination.bind="true"
                cust-table-page-size.bind="10"></user-list>-->
            <list-activity title="Recent Changes" cust-xc-id="xs_recentSubmits" cust-xc-expanded="true" api-data.bind="pageData.recentSubmits"></list-activity>
            <list-activity title="Recent Reviews" cust-xc-id="xs_recentReviews" api-data.bind="pageData.recentReviews"></list-activity>
        </div>
    </div>

    <div if.bind="!currentUser.isMember" class="row-fluid">
        <div class="col-md-6">
            <!--<img src="src/img/MRT_Letterhead.png" class="fit-col">-->
            <div class="margin-bottom-2">
                <h1 class="margin-top-0">${title}</h1>
                <p innerhtml.bind="message"></p>
            </div>
        </div>

        <div class="col-md-6">
            <profile-brief member-arr.bind="pageData.memberPreview"></profile-brief>
        </div>
    </div>

</template>