<template>
    <require from="../widgets/list-activity"></require>
    <require from="../widgets/user-list"></require>

    <!--<div class="row">
        <div class="col-md-12">
            <h1>${title}<span class="html-file-name">(welcome.html)</span></h1>
        </div>
    </div>

    <hr>-->

    <!--<div class="row">
        <div class="col-md-12">
            <div id="exTab2" class="containerXXX">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#home" data-toggle="tab">Home</a>
                    </li>
                    <li><a href="#team" data-toggle="tab">Team</a>
                    </li>
                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="home">
                        <h3>Home</h3>
                    </div>
                    <div class="tab-pane" id="team">
                        <h3>Team</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row margin-bottom-g1">
        <div class="col-md-12">
            <img src="/src/img/MRT_Letterhead.png" class="fit-col">            
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-6">
            <!--<img src="/src/img/MRT_Letterhead.png" class="fit-col">-->
            <div class="margin-bottom-2">
            <h1 class="margin-top-0">Welcome to MRT</h1>
            <p>Lorem ipsum dolor sit amet, utamur prodesset no nec. Duis nihil menandri nec ad, vim animal appareat ex.</p>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <img src="/src/img/MRT_Org.png" class="fit-col">
                </div>
                <div class="col-md-2">
                    <img src="/src/img/MRT_Admin.png" class="fit-col">
                </div>
                <div class="col-md-2">
                    <img src="/src/img/MRT_Ident.png" class="fit-col">
                </div>
                <div class="col-md-2">
                    <img src="/src/img/MRT_Valid.png" class="fit-col">
                </div>
                <div class="col-md-2">
                    <img src="/src/img/MRT_Toolbox.png" class="fit-col">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!--<user-list cust-title="Users-lite" cust-disable-cells="['firstName','personalNumber','systemRoles']" cust-table-pagination.bind="true"
                cust-table-page-size.bind="10"></user-list>-->
            <list-activity></list-activity>
        </div>
    </div>

</template>