<template class="form-group col-xs-12 ${inpClass} ${isMandatory ? 'is-mandatory' : ''}">
    <require from="./filter"></require>
    <div class="row-fluid">
        <label class="col-sm-6" for.bind="name" title.bind="inpLabel">${inpLabel} / ${changed} / ${initSelected} / ${selected}</label>
        <div class="col-sm-6">
            <select class="form-control" model.two-way="model" value.two-way="selected" selected.two-way="selected" disabled.bind="!isEnabled">
                <option value="">${inpPlaceholder} | ${model} | ${selected} | ${changed} | ${initSelected}</option>
                <option repeat.for="option of options | filter:'parentValue':optionFilter" value="${option.value}">${option.label}</option>
            </select>
        </div>
    </div>
</template>