<template>

    <require from="./user-panels/user-panel-details"></require>
    <require from="./user-panels/user-panel-mrt"></require>
    <require from="./user-panels/user-panel-mrt-role"></require>
    <require from="./user-panels/user-panel-passport-visa"></require>
    <require from="./user-panels/user-panel-training"></require>
    <require from="./user-panels/user-panel-twic"></require>
    
    <div class="panel panel-default panel-xc">
        <div class="panel-heading">
            ${custTitle} | ${user.first_name} | ${user.sel_region_selected}
            <button if.bind="custXc" class="btn btn-xc_chevron btn-xs ${custXcExpanded ? '' : 'collapsed'}" type="button"
                data-toggle="collapse"
                data-target="#${custXcId}"
                aria-expanded="${custXcExpanded}"
                aria-controls="collapseExample">
            </button>
        </div>

        <div id="${custXcId}" class="panel-body row row-col-xxs-12 row-col-xs-6 row-col-sm-6 row-col-md-6 ${custXc ? 'collapse' : ''} ${custXcExpanded ? 'in' : ''} ${custXcResClass ? custXcResClass : 'row-col-lg-4'}">
            <div class="wrap-fields">
                <user-panel-details if.bind="custBody=='user-details'" user.bind="user"></user-panel-details>
                <user-panel-mrt if.bind="custBody=='user-mrt'"></user-panel-mrt>
                <user-panel-mrt-role if.bind="custBody=='user-mrt-role'"></user-panel-mrt-role>
                <user-panel-passport-visa if.bind="custBody=='user-passport-visa'"></user-panel-passport-visa>
                <user-panel-training if.bind="custBody=='user-training'"></user-panel-training>
                <user-panel-twic if.bind="custBody=='user-twic'"></user-panel-twic>
            </div>
        </div>
    </div>

</template>