<template>

    <require from="./user-panels/user-panel-details"></require>
    <require from="./user-panels/user-panel-mrt-role"></require>
    <require from="./user-panels/user-panel-languages"></require>    
    <require from="./user-panels/user-panel-passport"></require>
    <require from="./user-panels/user-panel-visa"></require>
    <require from="./user-panels/user-panel-training"></require>
    <require from="./user-panels/user-panel-twic"></require>
    <require from="./user-panels/user-panel-confidential"></require>
    
    <div class="panel panel-default panel-xc">
        <div class="panel-heading cursor-hover ${custXcExpanded ? '' : 'collapsed'}" data-toggle="collapse"
                data-target="#${custXcId}">
            <i if.bind="custIcon" class="fa ${custIcon} text-after"></i>

            ${custTitle}
             <!--| ${user.firstName} | ${user.lkp_regions_selected} > ${user.lkp_hub_selected} > ${user.lkp_segment_selected} > ${user.lkp_entity_selected}-->
            <button if.bind="custXc" class="btn btn-xc_chevron btn-xs" type="button"                
                aria-expanded="${custXcExpanded}"
                aria-controls="collapseExample">
            </button>
        </div>

        <div id="${custXcId}" class="panel-body row row-col-xxs-12 row-col-xs-6 row-col-sm-6 row-col-md-6 ${custXc ? 'collapse' : ''} ${custXcExpanded ? 'in' : ''} ${custXcResClass ? custXcResClass : 'row-col-lg-4'}">
            <div class="wrap-fields">
                <user-panel-details if.bind="custBody=='user-details'" user.bind="user"></user-panel-details>                
                <user-panel-mrt-role if.bind="custBody=='user-mrt-role'" user.bind="user"></user-panel-mrt-role>
                <user-panel-languages if.bind="custBody=='user-languages'" user.bind="user"></user-panel-languages>
                <user-panel-passport if.bind="custBody=='user-passport'" user.bind="user"></user-panel-passport>
                <user-panel-visa if.bind="custBody=='user-visa'" user.bind="user"></user-panel-visa>
                <user-panel-training if.bind="custBody=='user-training'" user.bind="user"></user-panel-training>
                <user-panel-twic if.bind="custBody=='user-twic'" user.bind="user"></user-panel-twic>
                <user-panel-confidential if.bind="custBody=='user-confidential'" user.bind="user"></user-panel-confidential>
            </div>
        </div>
    </div>

</template>