<template>
    <require from="../../resources/format/format-date"></require>

    <div class="panel panel-default panel-xc">
        <div class="panel-heading cursor-hover ${custXcExpanded ? '' : 'collapsed'}" data-toggle="collapse" data-target="#${custXcId}">
            <i class="fa fa-bell text-after"></i> ${title}
            <button if.bind="custXc" class="btn btn-xc_chevron btn-xs" type="button" aria-expanded="${custXcExpanded}" aria-controls="collapseExample">
            </button>
        </div>

        <div id="${custXcId}" class="panel-body bg-white ${custXc ? 'collapse' : ''} ${custXcExpanded ? 'in' : ''}">

            <div class="row">
                <div class="col-xs-12">
                    <!--<input type="text" value.bind="filters[1].value">-->
                    <table if.bind="apiData" class="table table-striped margin-top-1" aurelia-table="data.bind: apiData; display-data.bind: $displayData; filters.bind: !currentUser.isEditor ? filters : ''">
                        <thead>
                            <tr>
                                <th if.bind="custXcId=='xs_recentSubmits'" aut-sort="key: submittedOn; default: desc">Submitted</th>
                                <th if.bind="custXcId=='xs_recentReviews'" aut-sort="key: reviewedOn; default: desc">Reviewed</th>
                                <th aut-sort="key: displayName">Team Member</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--if.bind="currentUser.isEditor || (!currentUser.isEditor && row.isMember)"-->
                            <tr repeat.for="row of $displayData">
                                <td if.bind="custXcId=='xs_recentSubmits'">${row.submittedOn | formatDate}</td>
                                <td if.bind="custXcId=='xs_recentReviews'">${row.reviewedOn | formatDate}</td>
                                <td><a click.delegate="myNav.navigateToUserPage('read',row.id)">${row.displayName}</a></td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="User actions">
                                        <button class="btn btn-default" click.delegate="myNav.navigateToUserPage('edit',row.id)" title="Edit User">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button disabled.bind="row.emailAddress==null" class="btn btn-default" click.delegate="myNav.emailUser(row.emailAddress)" title="Email User">
                                            <i class="fa fa-envelope-o"></i>
                                        </button>
                                        <!--<a class="btn btn-default" href="#"><i class="fa fa-search"></i></a>-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</template>