<template>

    <div class="hdr-wrap">
        <h1 class="hdr-inline">${title}<span class="html-file-name">(list-activity.html)</span></h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Future Events<i class="fa fa-bell pull-right"></i></div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Activity</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>08/04/2017</td>
                        <td>My profile status will need updating</td>
                        <td><i class="fa fa-pencil"></i></td>
                    </tr>
                    <tr>
                        <td>03/04/2017</td>
                        <td>My password will need updating</td>
                        <td><i class="fa fa-lock"></i></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">${title2}<i class="fa fa-history pull-right"></i></div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Activity</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>23/01/2017 17:31pm</td>
                        <td><a href="#">David Bowie</a> updated profile</td>
                        <td><i class="fa fa-pencil"></i></td>
                    </tr>
                    <tr>
                        <td>22/01/2017 09:44pm</td>
                        <td><a href="#">David Bowie</a> added to MRT</td>
                        <td><i class="fa fa-plus"></i></td>
                    </tr>
                    <tr>
                        <td>18/01/2017 11:57pm</td>
                        <td><a href="#">Charles Carter</a> deleted from MRT</td>
                        <td><i class="fa fa-minus"></i></td>
                    </tr>
                </tbody>
        </div>
    </div>

</template>