<template>

    <require from="./inputs/form-input"></require>

    <form role="form" class="form-horizontal" id="user-panel-brief">
        <div class="panel">
            <div class="panel-heading strong-heading">
                <a if.bind="custXc" class="collapsable-toggle ${custXcExpanded ? '' : 'collapsed'}" data-toggle="collapse" data-target="#${custXcId}">
                    <span class="panel-title">${title}</span>
                    <button if.bind="custXc" class="btn btn-xc_chevron btn-xs" type="button" aria-expanded="${custXcExpanded}" aria-controls="collapseExample">
                    </button>
                </a>

                <span if.bind="!custXc" class="panel-title">${title}</span>

                <a class="btn btn-xs btn-i btn-text pull-right">
                    <i class="fa fa-pencil"></i>Update
                </a>
            </div>

            <div id="${custXcId}" class="panel-body bg-lightgray ${custXc ? 'collapse' : ''} ${custXcExpanded ? 'in' : ''}">

                <div class="padding-top-g1">
                    <div class="row">
                        <form-input cust-label="Name" model.two-way="memberArr.displayName" cust-readonly.bind="true"></form-input>
                        <form-input cust-label="Manager" model.two-way="memberArr.manager.displayName" cust-readonly.bind="true"></form-input>
                        <form-input cust-type="date" cust-label="Updated" model.two-way="memberArr.profile.submittedOn" cust-readonly.bind="true"></form-input>
                    </div>

                    <!--<div class="row">
                        <div class="button-bar col-md-12 text-align-right">
                            <button class="btn btn-success" click.delegate="save()">Update</button>
                        </div>
                    </div>-->
                </div>

            </div>
        </div>


    </form>

</template>