<template>

    <require from="../widgets/inputs/form-input"></require>
    <require from="../widgets/inputs/form-select"></require>

    <div class="hdr-wrap" if.bind="!custHideTitleBar">
        <h1 class="hdr-inline">${title}<span class="html-file-name">(user-list.html)</span></h1>
        <a class="btn btn-default btn-i pull-right" click.delegate="addUser()">
            <i class="fa fa-plus"></i>Add User
        </a>
    </div>

    <p if.bind="debugShowOutput">found: ${found} / ${selectedId} / filter: ${filters}</p>
    <p if.bind="debugShowOutput">rolesArrDynamic: ${rolesArrDynamic}</p>
    <p if.bind="debugShowOutput">filters[1].value: ${filters[1].value} / ${rolesArrDynamic}</p>

    <div class="row margin-y-g2">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">
                    <i class="fa fa-filter text-after"></i>
                    Filter
                </span>
                <!--<input name="filter" type="text" value.bind="filters[0].value" class="form-control" placeholder="Filter users table">-->
                <input type="text" value.bind="filters[0].value" placeholder="Enter filter text" class="form-control"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">
                    <i class="fa fa-user text-after"></i>
                    Role
                </span>
                
                <select id="rolesFilter" class="form-control" value.bind="filters[1].value">
                    <option value="">Please Select</option>
                    <option repeat.for="role of rolesArrDynamic" model.bind="role.value">${role.label}</option>
                </select>
                <!--<form-select name="filter role" model.two-way="filters[1].value" options.bind="rolesArrDynamic" changed.two-way="filters[1].value"
                init-selected.two-way="filters[1].value"></form-select>-->
            </div>
        </div>

    </div>

    <table class="table table-striped" aurelia-table="data.bind: users; display-data.bind: $displayData; filters.bind: filters; current-page.bind: currentPage; page-size.bind: custTablePageSize; total-items.bind: totalItems;">
        <thead>
            <tr>
                <th aut-sort="key: id; default: desc" if.bind="isNotDisabled('id')">id</th>
                <th aut-sort="key: first_name" if.bind="isNotDisabled('first_name')">First Name</th>
                <th aut-sort="key: last_name" if.bind="isNotDisabled('last_name')">Last Name</th>
                <th aut-sort="key: email" if.bind="isNotDisabled('email')">E-mail</th>
                <th aut-sort="key: cell_number" if.bind="isNotDisabled('cell_number')">Telephone</th>
                <th aut-sort="key: mrt_system_role" if.bind="isNotDisabled('mrt_system_role')">Role</th>
                <th if.bind="isNotDisabled('edit')">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="user of $displayData" class="${user.id === $parent.selectedId ? 'active' : ''}">
                <td if.bind="isNotDisabled('id')">${user.id}</td>
                <td if.bind="isNotDisabled('first_name')">${user.first_name}</td>
                <td if.bind="isNotDisabled('last_name')">${user.last_name}</td>
                <td if.bind="isNotDisabled('email')"><a href="mailto:${user.email}">${user.email}</a></td>
                <td if.bind="isNotDisabled('cell_number')"><a href="tel:${user.cell_number}">${user.cell_number}</a></td>
                <td if.bind="isNotDisabled('mrt_system_role')">${ returnLabelFromValue(user.mrt_system_role) }</td>
                <td if.bind="isNotDisabled('edit')">
                    <div class="btn-group btn-group-xs" role="group" aria-label="User actions">
                        <a class="btn btn-default" route-href="route: users; params.bind: {id:user.id}" title="Quick edit">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default" route-href="route: user-edit; params.bind: {id:user.id, editType:'edit'}" title="Full edit">
                            <i class="fa fa-list"></i>
                        </a>
                        <a class="btn btn-default" click.delegate="changeUserRoles(user.id)">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a class="btn btn-default" click.delegate="deleteUser(user.id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row" if.bind="custTablePagination">
        <div class="col-md-7">
            <aut-pagination current-page.bind="currentPage" page-size.bind="custTablePageSize" total-items.bind="totalItems" pagination-size.bind="5"
                boundary-links.bind="true"> </aut-pagination>
        </div>

        <div class="col-md-5">
            <div class="form-inline">
                <div class="form-group pull-right">
                    <label for="custTablePageSize">Page Size: </label>
                    <select value.bind="custTablePageSize" id="custTablePageSize" class="form-control">
                        <option model.bind="5">5</option>
                        <option model.bind="10">10</option>
                        <option model.bind="20">20</option>
                        <option model.bind="50">50</option>
                        <option model.bind="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>