<template>
  <require from="../widgets/form-input"></require>

  <div class="hdr-wrap">
    <h1 class="hdr-inline">${title}<span class="html-file-name">(user-edit.html)</span></h1>
  </div>

  <!--<p>id: ${user.id}</p>
  <p>originalUser.first_name: ${originalUser.first_name}</p>
  <p>user.first_name: ${user.first_name}</p>-->

  <div class="panel panel-bp margin-x-0 has-button-bar">
    <div class="panel-body row">
      
      <form role="form" class="form-horizontal">

        <form-input name="first_name" model.two-way="user.first_name"></form-input>
        <form-input name="last_name" model.two-way="user.last_name" inp-label="Last Name"></form-input>
        <form-input name="email" model.two-way="user.email" inp-label="Email"></form-input>
        <form-input name="phone_number" model.two-way="user.phone_number" inp-label="Telephone"></form-input>

      </form>

    </div>
  </div>

  <div bind.if="user">
    <div class="button-bar col-md-12 padding-x-0 text-align-right">
      <button class="btn btn-success" click.delegate="save()" disabled.bind="!canSave">Save</button>
    </div>
  </div>

</template>