<template>

    <require from="../widgets/inputs/form-checkbox"></require>
    <require from="../widgets/inputs/form-select"></require>
    <require from="../../resources/format/format-date"></require>
    <require from="../../resources/format/json"></require>
    <require from="../widgets/cust-span/span-cust-member-status"></require>
    <require from="../widgets/cust-span/span-cust-active-status"></require>

    <!--<div class="hdr-wrap" if.bind="!custHideTitleBar">
        <h1 class="hdr-inline">${title}<span class="html-file-name">(user-list.html)</span></h1>
        <a class="btn btn-default btn-i pull-right" click.delegate="addUser()">
            <i class="fa fa-plus"></i>Add User
        </a>
    </div>-->

    <p if.bind="debugShowOutput">found: ${found} / ${selectedId} / filter: ${filters}</p>
    <p if.bind="debugShowOutput">rolesArrDynamic: ${rolesArrDynamic}</p>
    <p if.bind="debugShowOutput">filters[1].value: ${filters[1].value} / ${rolesArrDynamic}</p>

    <div class="panel panel-default">
        <div class="panel-heading strong-heading ${custXc ? 'cursor-hover' : ''} ${custXcExpanded ? '' : 'collapsed'}" data-toggle="collapse" data-target="#${custXcId}">
            ${title}
            <button if.bind="custXc" class="btn btn-xc_chevron btn-xs" type="button" aria-expanded="${custXcExpanded}" aria-controls="collapseExample">
            </button>

            <a class="btn btn-xs btn-i btn-text pull-right" click.delegate="addUser()">
                <i class="fa fa-plus"></i>Add User
            </a>
        </div>

        <div id="${custXcId}" class="panel-body bg-white ${custXc ? 'collapse' : ''} ${custXcExpanded ? 'in' : ''}">
            <!-- Filters -->
            <form class="row margin-y-g1" if.bind="filters">

                <div class="col-xs-3">
                    <input type="text" class="form-control" value.bind="searchFor_name" placeholder="Search Name">
                </div>
                <div class="col-xs-3">
                    <form-select cust-label="System Role" model.two-way="searchFor_userTypeValue" options.bind="lookups.userTypes" prop-arr.bind="['value','name']"
                        autocomplete.bind="true" init-selected.two-way="searchFor_userTypeValue" input-only="true"></form-select>
                </div>
                <div class="col-xs-3">
                    <form-select cust-label="Status" model.two-way="searchFor_active" options.bind="lookups.lkp_isActive" prop-arr.bind="['value','name']"
                        autocomplete.bind="true" init-selected.two-way="searchFor_active" input-only="true"></form-select>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default" type="submit" click.delegate="loadUserList_prep()">
                                <i class="fa fa-filter text-after"></i>
                                Filter
                            </button>
                </div>
            </form>
            <!-- (END) Filters -->

            <!-- Table -->
            <!--? filter_memberType: ${filter_memberType}-->
            <!--filters.bind: filters;-->
            <pre if.bind="debugShowOutput">${users & json}</pre>

            <div class="panel panel-warning" if.bind="checkedItemsArr.length>=1">
                <div class="panel-heading panel-heading-custom">
                    <span class="display-inline-block"><strong>${checkedItemsArr.length}</strong> users selected.</span>
                    <button class="btn btn-danger btn-xs pull-right" click.delegate="deleteMultiple()">
                    Delete ${checkedItemsArr.length} users
                </button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped" if.bind="users && filters" aurelia-table="data.bind: users.data; display-data.bind: $displayData; current-page.bind: currentPage; page-size.bind: custTablePageSize; total-items.bind: totalItems;">
                        <thead>
                            <tr>
                                <th><input type="checkbox" value="true" checked.bind="isAllChecked" change.delegate="checkAll()"></th>
                                <th aut-sort="key: loginName" if.bind="isNotDisabled('loginName')">Login</th>
                                <th aut-sort="key: firstName" if.bind="isNotDisabled('firstName')">First Name</th>
                                <th aut-sort="key: lastName; default: asc" if.bind="isNotDisabled('lastName')">Surname</th>
                                <th aut-sort="key: emailAddress" if.bind="isNotDisabled('emailAddress')">Email</th>
                                <th aut-sort="key: isMember" if.bind="isNotDisabled('isMember')">Profile</th>
                                <th aut-sort="key: isActive" if.bind="isNotDisabled('isActive')">Status</th>
                                <th if.bind="isNotDisabled('edit')">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr repeat.for="user of $displayData" class="${user.id === $parent.selectedId ? 'active' : ''}">
                                <td> <input type="checkbox" value="true" checked.bind="user.checked" change.delegate="checkMe(user.id)"
                                    /></td>
                                <td if.bind="isNotDisabled('loginName')">
                                    <a if.bind="user.isMember" route-href="route: user-read; params.bind: {id:user.id, editType:'edit', readonly:'read'}" title="View member">${user.loginName}</a>
                                    <span if.bind="!user.isMember">${user.loginName}</span>
                                </td>
                                <td if.bind="isNotDisabled('firstName')">${user.firstName}</td>
                                <td if.bind="isNotDisabled('lastName')">${user.lastName}</td>
                                <td if.bind="isNotDisabled('emailAddress')">${user.emailAddress}</td>
                                <td if.bind="isNotDisabled('isMember')">
                                    <span-cust-member-status is-member.bind="user.isMember" update-pending.bind="user.updatePending" profile-date.bind="user.profileDate"></span-cust-member-status>
                                </td>
                                <td if.bind="isNotDisabled('isActive')">
                                    <span-cust-active-status is-active.bind="user.isActive" review-pending.bind="user.reviewPending" review-result.bind="user.reviewResult"></span-cust-active-status>
                                </td>
                                <td if.bind="isNotDisabled('edit')">
                                    <div class="btn-group btn-group-xs" role="group" aria-label="User actions">
                                        <button disabled.bind="!user.isMember" class="btn btn-default" click.delegate="api.navigateTo( 'users/' + user.id + '/edit' )"
                                            title="Edit User">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <!--<a class="btn btn-default" route-href="route: user-edit; params.bind: {id:user.id, editType:'edit'}" title="Full edit">
                                            <i class="fa fa-list"></i>
                                        </a>-->
                                        <button disabled.bind="user.emailAddress==null" class="btn btn-default" click.delegate="api.emailUser(user.emailAddress)"
                                            title="Email User">
                                                <i class="fa fa-envelope-o"></i>
                                            </button>
                                        <a class="btn btn-default" click.delegate="changeUserRoles(user.id)" title="Change User Permissions">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                        <a class="btn btn-default" click.delegate="deleteUser(user.id)" title="Delete User">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- (END) Table -->

            <!-- Pagination -->
            <div class="row margin-bottom-g1 display-none" if.bind="custTablePagination">

                <div class="col-md-7">
                    <aut-pagination current-page.bind="currentPage" page-size.bind="custTablePageSize" total-items.bind="totalItems" pagination-size.bind="5"
                        boundary-links.bind="true"> </aut-pagination>
                </div>

                <div class="col-md-5">
                    <div class="form-inline">
                        <div class="form-group pull-right">
                            <label for="custTablePageSize">Page Size: </label>
                            <select value.bind="custTablePageSize" id="custTablePageSize" class="form-control">
                                <option model.bind="5">5</option>
                                <option model.bind="10">10</option>
                                <option model.bind="20">20</option>
                                <option model.bind="50">50</option>
                                <option model.bind="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- (END) Pagination -->

        </div>
    </div>

</template>