<template>
  <require from="../widgets/form-input"></require>

  <div class="hdr-wrap">
    <h1 class="hdr-inline">${title}<span class="html-file-name">(user-edit.html)</span></h1>
  </div>

  <div class="panel panel-primary bg-light margin-x-0">
    <div class="panel-body row">
      <form role="form" class="form-horizontal">

        <form-input name="firstName" model.bind="user.firstName"></form-input>
        <form-input name="lastName" model.bind="user.lastName" inp-label="Last Name"></form-input>
        <form-input name="email" model.bind="user.email" inp-label="Email"></form-input>
        <form-input name="phoneNumber" model.bind="user.phoneNumber" inp-label="Telephone"></form-input>

        <!--<div repeat.for="elem of editUser">
          <p>${elem.name} / ${elem.val} / ${elem.label} / ${parent.editUser[$index].val}</p>
          <form-input name="${elem.name}" model.bind="elem" inp-label="${elem.label}"></form-input>
        </div>-->

      </form>
    </div>
  </div>

</template>