<template>

    <require from="../widgets/inputs/form-input"></require>
    <require from="../widgets/inputs/form-filter-text"></require>
    <require from="../widgets/inputs/form-filter-role"></require>
    <require from="../widgets/inputs/form-select"></require>
    <require from="../../resources/format/format-date"></require>

    <div class="hdr-wrap" if.bind="!custHideTitleBar">
        <h1 class="hdr-inline">${title}<span class="html-file-name">(user-list.html)</span></h1>
        <a class="btn btn-default btn-i pull-right" click.delegate="addUser()">
            <i class="fa fa-plus"></i>Add User
        </a>
    </div>

    <p if.bind="debugShowOutput">found: ${found} / ${selectedId} / filter: ${filters}</p>
    <p if.bind="debugShowOutput">rolesArrDynamic: ${rolesArrDynamic}</p>
    <p if.bind="debugShowOutput">filters[1].value: ${filters[1].value} / ${rolesArrDynamic}</p>

    <div class="row margin-y-g2">
        <div class="col-xs-6">
            <form-filter-text model.two-way="filters[0].value"></form-filter-text>
        </div>

        <div class="col-xs-6">
            <form-filter-role model.two-way="filters[1].value" options.bind="lkp_role" changed.two-way="filters[1].value"
                init-selected.two-way="filters[1].value"></form-filter-role>
        </div>
    </div>

    <table class="table table-striped" aurelia-table="data.bind: users; display-data.bind: $displayData; filters.bind: filters; current-page.bind: currentPage; page-size.bind: custTablePageSize; total-items.bind: totalItems;">
        <thead>
            <tr>
                <th aut-sort="key: id; default: desc" if.bind="isNotDisabled('id')">id</th>
                <th aut-sort="key: firstName" if.bind="isNotDisabled('firstName')">First Name</th>
                <th aut-sort="key: lastName" if.bind="isNotDisabled('lastName')">Last Name</th>
                <th aut-sort="key: emailAddress" if.bind="isNotDisabled('emailAddress')">E-mail</th>
                <th aut-sort="key: personalNumber" if.bind="isNotDisabled('personalNumber')">Telephone</th>
                <th aut-sort="key: systemRoles.value" if.bind="isNotDisabled('systemRoles')">Role</th>
                <th if.bind="isNotDisabled('edit')">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="user of $displayData" class="${user.id === $parent.selectedId ? 'active' : ''}">
                <td if.bind="isNotDisabled('id')">${user.id}</td>
                <td if.bind="isNotDisabled('firstName')">${user.firstName}</td>
                <td if.bind="isNotDisabled('lastName')">${user.lastName}</td>
                <td if.bind="isNotDisabled('emailAddress')"><a href="mailto:${user.emailAddress}">${user.emailAddress}</a></td>
                <td if.bind="isNotDisabled('personalNumber')"><a href="tel:${user.personalNumber}">${user.personalNumber}</a></td>
                <td if.bind="isNotDisabled('systemRoles')">${user.systemRoles.name}</td>
                <td if.bind="isNotDisabled('edit')">
                    <div class="btn-group btn-group-xs" role="group" aria-label="User actions">
                        <!--<a class="btn btn-default" route-href="route: users; params.bind: {id:user.id}" title="Quick edit">
                            <i class="fa fa-pencil"></i>
                        </a>-->
                        <a class="btn btn-default" route-href="route: user-edit; params.bind: {id:user.id, editType:'edit'}" title="Full edit">
                            <i class="fa fa-list"></i>
                        </a>
                        <a class="btn btn-default" click.delegate="changeUserRoles(user.id)" title="Change User Permissions">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a class="btn btn-default" click.delegate="deleteUser(user.id)" title="Delete User">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row" if.bind="custTablePagination">
        <div class="col-md-7">
            <aut-pagination current-page.bind="currentPage" page-size.bind="custTablePageSize" total-items.bind="totalItems" pagination-size.bind="5"
                boundary-links.bind="true"> </aut-pagination>
        </div>

        <div class="col-md-5">
            <div class="form-inline">
                <div class="form-group pull-right">
                    <label for="custTablePageSize">Page Size: </label>
                    <select value.bind="custTablePageSize" id="custTablePageSize" class="form-control">
                        <option model.bind="5">5</option>
                        <option model.bind="10">10</option>
                        <option model.bind="20">20</option>
                        <option model.bind="50">50</option>
                        <option model.bind="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>